<!--
1 .用两个大括号括起来的文字（例如 {{ person_name }} ）称为 变量。这意味着在此处插入指定变量的值
2.if else 标签：
{% if condition %}
     ... display
{% endif %}
3.for 标签：
{{% for i in itmes %}}
{{% endfor%}}
4.ifequal/ifnotequal 标签
{% ifequal %} 标签比较两个值，当他们相等时，显示在 {% ifequal %} 和 {% endifequal %} 之中所有的值。
{% ifequal user currentuser %}
    <h1>Welcome!</h1>
{% endifequal %}
5.注释标签：{# 这是一个注释 #}
6.过滤器  ：
模板过滤器可以在变量被显示前修改它，过滤器使用管道字符，如下所示：
{{ name|lower }}    {{ name }} 变量被过滤器 lower 处理后，文档大写转换文本为小写。
过滤器：length : 返回变量的长度。truncatewords:30 这个将显示变量 的前30个词。date : 按指定的格式字符串参数格式化 date 或者 datetime 对象，实例：
7.include {% include %} 标签允许在模板中包含其它的模板的内容。
{% include "nav.html" %}
8.继承{% extends "base.html" %}
 {% block %} 标签告诉模板引擎，子模板可以重载这些部分。
{% extends "base.html" %}
{% block mainbody %}
<p>继承了 base.html 文件</p>
{% endblock %}
-->

html>
<head><title>Ordering notice</title></head>

<body>

<h1>Ordering notice</h1>

<p>Dear {{ person_name }},</p>

<p>Thanks for placing an order from {{ company }}. It's scheduled to
ship on {{ ship_date|date:"F j, Y" }}.</p>

<p>Here are the items you've ordered:</p>

<ul>
{% for item in item_list %}
    <li>{{ item }}</li>
{% endfor %}
</ul>

{% if ordered_warranty %}
    <p>Your warranty information will be included in the packaging.</p>
{% else %}
    <p>You didn't order a warranty, so you're on your own when
    the products inevitably stop working.</p>
{% endif %}

<p>Sincerely,<br />{{ company }}</p>

</body>
</html>